<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Isut users</title>
<script type="text/javascript" src="../lib/util.js"></script>
<link rel="stylesheet" type="text/css" href="../css/isut.css" />
<link rel="stylesheet" type="text/css" href="../css/admin.css" />
<script type="text/javascript" src="../js/util.js"></script>
<script type="text/javascript" src="../js/isut.js"></script>
<script type="text/javascript" src="../js/users.js"></script>
</head>
<body>

<%- include('navigation', { tabbed: 'users' }); %>

<h1>Users</h1>

<section role="main">
<h2>Current user</h2>

<form method="post" action="../admin/user" onsubmit="return validate(this);">
	<label for="username">Username:</label>
	<br>
	<input type="text" id="username" name="username" value="<%= username %>" readonly />
	<p>
	<label for="name">Name:</label>
	<br>
	<input type="text" id="name" name="name" 
		onkeyup="highlight(this);" onchange="highlight(this);" value="<%= name %>" />
	<p>
	<label for="password1">Password (omit if unchanged):</label>
	<br>
	<input type="password" id="password1" name="password1" />
	<p>
	<label for="password2">Password (repeat):</label>
	<br>
	<input type="password" id="password2" name="password2" />
	<p>
	<button type="submit" title="save user">Save</button>
</form>

<% if (role == 'editor') { %>
<h2>Other users</h2>

<% if (others.length > 0) { %>
<table>
<tr> <th>Username</th><th>Name</th><th>Role</th><th>Delete</th> </tr>
<% for (let i = 0; i < others.length; i++) {
	var other = others[i];
%>
<tr>
	<td><%= other.username %></td>
	<td><%= other.name %></td>
	<td><%= other.role %></td>
	<td align="center"><form method="post" action="../admin/remove"
			onsubmit="return confirm('Do you want to remove user <%= other.username %> ?');"><input
		type="hidden" name="username" value="<%= other.username %>" /><button
		type="submit" title="remove user" class="warning">&#x274c;</button></form></td>
</tr>
<% } %>
</table>
<% } %>
<button type="button" title="add user" onclick="location.href='../admin/add';">Add</button>
<% } %>
</section>

</body>
</html>
